<form name="connexion" method="POST">
	<fieldset>
		<legend>Connexion</legend>
			<label for="email">Email:</label>
			<input type="mail" name="email" required>
			</BR>
			<label for="password">Password:</label>
			<input type="password" name="password" required>
			</BR>
			<input type="submit" value="Valider" name="valider">
			<input type="reset" value="Annuler" name="annuler">
	</fieldset>
</form>